@charset "utf-8";

html {
	box-sizing: border-box;
}

body {
    background-color: rgb(100, 100, 103);
    color: white;
}

*, *::before, *::after {
	box-sizing: inherit;
}

article {
    display: grid;
    width: 80%;
    margin: 0 auto;
    gap: 50px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "lyrics about-song"
        "lyrics about-artist";
}

/* Use a google font for the first typeface, for the page headings */
header, 
main h2{

    font-family: Bevan, sans-serif;
}

header {
    text-align: center;
}

/* Use a builtin typeface for the second type face, for the body copy */
blockquote,
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25em;
}

blockquote {
    font-style: italic;
    margin: 10px;
}

/* Make the lyrics opaque when mouse hovers */
blockquote:hover {
    opacity: 80%;
}

/* This is the about song section */
section:nth-of-type(1) {
    grid-area: about-song;
}

/* This is the lyrics section */
section:nth-of-type(2){
    grid-area: lyrics;
    background-color: rgb(121, 121, 124);
    text-align: center;
    border-radius: 30px;

}

aside {
    grid-area: about-artist;
}

footer {
    grid-area: footer;
}