@charset "utf-8";

/* Decrease the max-width so it looks more like the magazine article */
body {
    max-width: 800px;
}

/* Make header a flex container to put the p element above the h1 element and center the h1 element */
header {
    display: flex;
    flex-direction: column;
}

/* Set the order of the p element to 1 and the h1 element to 2 to put the p element above the h1 element */
header h1 {
    color: #fb6433;
    text-align: center;
    order: 2;
}

header p {
    order: 1;
}

/* Set the main element to a grid to easily position the sections and asides in the desired layout */
main {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    grid-template-areas: 
        "aside-img live"
        "aside-img style"
        "aside-img health"
        "aside-cover health";
    font-size: 9px;
    gap: 0px;
}

/* Set the grid areas for the sections and asides to position them in the desired layout */
main section:first-of-type{
    grid-area: live;
}

main section:nth-of-type(2) {
    grid-area: style;
}
main section:last-of-type{
    grid-area: health;
}

main aside:first-of-type {
    grid-area: aside-img;
}

main aside:last-of-type {
    grid-area: aside-cover
}
