@charset "utf-8";

/* Decrease the max-width so it looks more like the magazine article */
body {
    max-width: 650px;
    font-family: 'Bodoni Moda', serif;
    font-weight: 400;
    transform: rotate(-1.1deg);
}

/* Make header a flex container to put the p element above the h1 element and center the h1 element */
header {
    display: flex;
    flex-direction: column;
}

/* Set the order of the p element to 1 and the h1 element to 2 to put the p element above the h1 element */
header h1 {
    color: #fb6433;
    text-align: center;
    text-transform: lowercase;
    font-size: 5.5rem;
    font-weight: 0;
    /* Changes the "optical size" in order to make the font more full */
    font-variation-settings: 'opsz' 6;
    order: 2;
    margin: 0 auto 1rem;
}

header p {
    order: 1;
    text-transform: uppercase;
    margin: 1.5rem 2rem 0;
    font-size: .8rem
}

/* Set the main element to a grid to easily position the sections and asides in the desired layout */
main {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    grid-template-rows: 0.3fr 0.25fr auto auto;
    grid-template-areas: 
        "aside-img live"
        "aside-img style"
        "aside-img health"
        "aside-cover health";
    font-size: 9px;
    gap: 0px;
}

/* Use pseudo-elements to add bars above each section */
section::before {
    background-color: blue;
    content: "";
    display: block;
    width: 250px;
    height: 10px;
}

section:first-of-type::before {
    background-color: #6da32b;
}

section:nth-of-type(2)::before { 
    background-color: #e32c74;
}

section:last-of-type::before {
    background-color: #139fb4;
}

section {
    line-height: 0.5rem;
}

section h2 {
    text-transform: lowercase;
    letter-spacing: -0.1rem;
    font-size: 1.6rem;
    margin: 0.7rem;
    font-weight: normal;
}

/* Setting a li to flex removes the number, so manually place it before the li */
section li::before {
    content: attr(value);
    margin-right: 0.5rem;
}

/* My best attempt at making two text elements on the same line */
section li {
    display: flex;
    font-size: 0.6rem;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0.1rem;
}

section li > * {
    font-size: inherit;
}

section li h3 {
    text-transform: uppercase;
    margin: 0;
}

section li p {
    font-weight: normal;
    margin: 0.3rem 0.5rem;
}

section li p abbr {
    font-weight: bold;
}


/* Set the grid areas for the sections and asides to position them in the desired layout */
section:first-of-type{
    grid-area: live;
}

section:first-of-type h3{
    color: #6da32b;
}
section:nth-of-type(2){
    grid-area: style;
}

section:nth-of-type(2) h3{
    color: #e32c74;
}

section:last-of-type{
    grid-area: health;
}

section:last-of-type h3{
    color: #139fb4
}

aside:first-of-type{
    grid-area: aside-img;
}

/* Grid moves this far too down, use margin-bottom to bring it up */
aside:last-of-type {
    max-width: 50%;
    grid-area: aside-cover;
    justify-self: right;
    margin-right: 3rem;
    border: 1px solid #d9a186;
    box-shadow: 2px 2px 1px rgb(0 0 0 / 10%);
    padding: 1px 5px;
}

aside:last-of-type h2{
    font-weight: normal;
    text-transform: lowercase;
    font-size: 1.3rem;
    margin: 0;
}

aside:last-of-type li {
    margin-top: 0.2rem;
}

footer p {
    text-transform: uppercase;
    text-align: right;
    font-size: 0.5em;
}

footer p em {
    color: #fe6528;
    font-style: normal;
}